[Unit]
Description=Exordos IAM Cache Service
After=network-online.target
Wants=network-online.target

[Service]
User=iam-cache
Group=iam-cache
TimeoutStopSec=10
Restart=always
RestartSec=5s
KillSignal=SIGINT
ExecStart=/usr/local/bin/exordos-iam-cache -config /etc/exordos-iam-cache/config.json

[Install]
WantedBy=multi-user.target
